@import url(./footer.css);
@import url(./header.css);

*{/*reset basico*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: Arial, Helvetica, sans-serif;
}

:root{
    --cor-background:#c4560dcc;
    --cor-secao:#8a500457;
    --padding:1rem;
    --font-padrao: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-background);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: var(--cor-secao);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    border: 2px solid #000000;
}

h1{
    margin-top: 0px;
}

.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

input[type="text"]
input[type="email"]
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
}

@media (max-width: 768px){
    nav ul li{
        display: block;
        margin: 0.5rem 0;
    }

    .content{
        flex-direction: column;
    }

    article{
        flex: 1 1 100%;
    }
}