body{
    background-color: #bcaee4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.kayle{
    height: 192px;
    width: 192px;
}

.morg{
    height: 192px;
    width: 192px;
}

.div1{
    display: flex;
}

.div2{
    display: flex;
}