*{
    margin-top: 1;
    margin-left: 2;
    margin-right: 3;
}

body{
    text-align: center;
}

#titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;

}

p{
    font-family: cursive;
    color: aquamarine;
}

#div{
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

#div2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lime;
}

.class{
    font-family: 'Times New Roman', Times, serif;
    color: chocolate;
}

a[href="kaylezinha.jpg"]{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkolivegreen;
}

h3,a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkmagenta;
}

h4~h5{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

div > h1{
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

div p{
    color: blue;
}